---
import AppIcon from '../components/AppIcon.astro'
import Link from '../components/Link.astro'
import content from '../data/content'
import Layout from '../layouts/Layout.astro'
---

<Layout title={content.meta.title} description={content.meta.description}>
	<div class="relative min-h-svh w-full bg-gray-900 text-gray-100">
		<!-- <div class="fixed bottom-0 left-0 right-0 top-0 w-full bg-gray-900 text-gray-100"></div> -->
		<main class="mx-auto max-w-screen-sm p-8">
			<div class="flex flex-col items-center gap-8">
				<header class="flex flex-col items-center gap-2">
					<img
						class="size-24 rounded-full"
						src={content.header.avatar}
						alt={content.header.description}
					/>
					<h1 class="text-center text-xl font-semibold">
						{content.header.name}
					</h1>
					<p class="text-center">{content.header.description}</p>
				</header>

				<section class="size-full">
					{
						content.apps.length > 0 && (
							<div class="flex w-full flex-row justify-evenly gap-4">
								{content.apps.map((app) => (
									<AppIcon name={app.name} url={app.url} image={app.image} />
								))}
							</div>
						)
					}
				</section>

				<section class="size-full">
					{
						content.links.length > 0 && (
							<ul class="flex w-full flex-col justify-evenly gap-4">
								{content.links.map((link) => (
									<Link text={link.text} url={link.url} image={link.image} />
								))}
							</ul>
						)
					}
				</section>

				<footer class="flex flex-row justify-center gap-4">
					<p>Mail...</p>
				</footer>
			</div>
		</main>
	</div>
</Layout>
