---
import { Image } from 'astro:assets'

interface Props {
	name: string
	image: string
	url: string
}
const { url, image, name } = Astro.props

const isSvgImage = image.endsWith('.svg')
---

<a class="item-center flex flex-col items-center gap-2" href={url}>
	{
		isSvgImage ? (
			<img class="size-16 rounded-full md:size-20" src={image} alt={name} />
		) : (
			<Image
				src={image}
				alt={name}
				class="size-16 rounded-full md:size-20"
				format="webp"
				densities={[2]}
				quality={60}
				width={64}
				height={96}
			/>
		)
	}
	<p>{name}</p>
</a>
